openai
pyqt6

pydub  # FIXME: Needs ffmpeg or libav for non-wav formats
numpy
aiofiles # FIXME: Maybe not needed
webrtcvad # For voice activity detection
# noisereduce # FIXME: May not needed, for noise reduction
sounddevice

## Only needed for development
pyinstaller
pytest
pre-commit
setuptools>=70.0.0 # not directly required, pinned by Snyk to avoid a vulnerability
